{% extends 'base.html.twig' %}

{% block title %}BackOffice BlaBlaQuest !
{% endblock %}

{% block body %}


	<div class="example-wrapper mt-3">
		<h1>Bienvenue sur le BackOffice de Blablaquest</h1>

		{# <a href="{{ path ('game_browse')}}"><button type="button" class="btn btn-secondary">Jeux</button>
				<a href="{{ path ('event_browse')}}"><button type="button" class="btn btn-success">Evènements</button>
				<a href="{{ path ('user_browse')}}"><button type="button" class="btn btn-light">Utilisateurs</button> #}
				
	{% endblock %}
